/**
* Файл style_main.css - файл стилей (для сайта)
*
* @author Дмитрий Щербаков <info@atomcms.ru>
*/

/* НАЧАЛО - Очистка */
html{font-size:100.01%;}
body{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;/*font-size:12px;line-height:1.2;*/}
a img,:link img,:visited img{border:none;}
a.imglink:visited,a.imglink:link,a.imglink:active,a.imglink:hover{text-decoration:none;border:0px;}
form label{cursor:pointer;}
fieldset{border:none;}
address,abbr{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-family:"Times New Roman";}
/* КОНЕЦ - Очистка */

/* НАЧАЛО - Основные определенния */
body{background:#FFF url('pics/bg.jpg') center top repeat-x;color:#000;margin:0px;padding:0px;text-align:center;}
acronym{border-bottom:#000 1px dotted;cursor:help;}
a:link{color:#1D636D;}
a:active,a:hover{color:#CC0000;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
/* КОНЕЦ - Основные определенния */

/* НАЧАЛО - Страница с ошибками и блокировкой сайта */
#err-title{padding-top:100px;padding-bottom:50px;text-align:center;}
#err-msg-block{text-align:center;}
#err-message{font-weight:bold;font-size:16px;}
/* КОНЕЦ - Страница с ошибками и блокировкой сайта */

/* НАЧАЛО - Основа */
#all{text-align:left;margin:0px auto;padding:0;width:1000px;}
/* КОНЕЦ - Основа */

/* НАЧАЛО - Шапка */
#header{background:#FFF url('pics/head_bg.jpg') no-repeat;height:348px; position:relative;}
.logo{margin-top:40px;margin-left:20px;}
a.appointment:link{display:block;float:right;position:relative;top:262px;width:277px;height:66px;background:#FFF url('pics/appointment.jpg') no-repeat;color:#1D636D;font-size:18px;font-style:italic;text-decoration:none;}
a.appointment:visited{color:#1D636D;text-decoration:none;}
a.appointment:active,a.appointment:hover{color:#CC0000;text-decoration:none;}
.appointment-padding{padding-top:35px;padding-right:20px;text-align:right;}
#header div.address {position:absolute; right:0; top:200px; padding:10px;}
#header div.address span {display:block; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:14px; line-height:24px; font-weight:normal; color:#336a7f; font-style:italic; text-align:right;}
/* КОНЕЦ - Шапка */

/* НАЧАЛО - Меню */
#menu{padding:0 0 5px 0; text-align : center}
a.menu-lnk:link{display:block; float:left;  margin:10px 35px 0 35px; border-bottom:1px solid #fff; margin-bottom:12px; font-style:italic; font-size:15px; color:#fff; text-decoration:none; -webkit-transition:0.3s; transition:0.3s;}
a.menu-lnk:active,a.menu-lnk:hover{color:#c9e8ed !important; -webkit-transition:0.3s; transition:0.3s;}
a.menu-lnk:visited {color:#fff;}
.menu-lnk-padding{display:inline-block; margin:10px 35px 0 35px; border-bottom:1px solid #fff; margin-bottom:12px; font-style:italic; font-size:15px; color:#fff; text-decoration:none; -webkit-transition:0.3s; transition:0.3s;}
.menu-lnk-padding{}


/* КОНЕЦ - Меню */

/* НАЧАЛО - Основная часть - Контент */
.td-left{vertical-align:top; background:#BBE2E8 url('pics/menu_bg.jpg') center 0px repeat; padding:0 0 0 10px; overflow:hidden;}
.td-right{vertical-align:top;}

#content{padding:40px 0;}
div.main_links {padding:0 0 30px 0; display:table !important; width:100%;  border-bottom:1px solid #4e4e4e; margin:0 0 20px 0;}
.main-link{display:table-cell !important; width:120px; text-align:center;}
.main-link div.img{border-radius:100px; width:120px; margin:0 auto; border:3px solid #78c5d1; -webkit-transition:0.3s; transition:0.3s;}
.main-link:hover div.img{border:3px solid #1d636d; -webkit-transition:0.3s; transition:0.3s;}
.main-link div.img img{display:block; width:100%; border-radius:100px;}
.main-link span.name {display:block; padding:3px 0 0 0;}
.main-link-separator{width:22px;float:left;}
.main-link-footer{clear:both;height:30px;}
a.main-link:link{display:table-cell !important; font-style:italic;font-size:14px;color:#1D636D;text-decoration:underline;}
a.main-link:visited{color:#1D636D; text-decoration:none;}
a.main-link:active,a.main-link:hover{color:#CC0000;text-decoration:none;}

#prefooter{}
.fishka-left-main{position:absolute;margin-top:19px;margin-left:93px;}
.prefooter-left{background:#BBE2E8;width:230px;height:194px;border-bottom:#77C5D1 3px solid;float:left;}
.prefooter-right{background:#FFF url('pics/fishka_prefooter_right_main.jpg') no-repeat;width:770px;height:220px;float:left;}
.prefooter-consult{padding-left:40px;margin-top:60px;}
a.consult-lnk:link{font-style:italic;font-size:18px;color:#1D636D;text-decoration:none;}
a.consult-lnk:visited{color:#1D636D;text-decoration:none;}
a.consult-lnk:active,a.consult-lnk:hover{color:#CC0000;text-decoration:none;}

#main-banners{margin-bottom:30px;}
.slider_link{display:block;width:688px;height:250px;}
a.slider_link:visited, a.slider_link:link, a.slider_link:active, a.slider_link:hover{color:inherit;text-decoration:none;}
.slider{width:688px; height:250px; position:relative;overflow:hidden; margin:0 auto;}
.slider .items{width:20000em;position:absolute;clear:both;}
.navi{position:absolute;margin-left:10px;margin-top:10px;z-index:1000;}
.navi a{width:8px;height:8px;float:left;margin:5px;background:url('pics/scroller_navi.png') 0 0 no-repeat;display:block;cursor:pointer;font-size:1px;}
.navi a:hover{background-position:0 -8px;}
.navi a.active{background-position:0 -16px;}

ol.reasons {list-style:none; margin:0; padding:0 0 20px 0;}
ol.reasons li {display:block; width:20%; float:left; text-align:center;}
ol.reasons li.clear {display:block; float:none; clear:both;}
ol.reasons li div.img {width:96px; height:96px; overflow:hidden; margin: 0 auto;}
ol.reasons li div.img img {width:100%;}
ol.reasons li span.name {cursor:pointer; padding:15px 0px 0 0px; font-family:Verdana, san-serif; font-size:16px; line-height:20px; font-weight:bold; color:#3e7c87; text-transform:uppercase; }
ol.reasons li span.name:hover {color:#81c3cf; -webkit-transition:0.3s; transition:0.3s;}
ol.reasons li div.txt {display:none; padding:5px 0px 0 0px; text-align:left; font-family:Verdana, san-serif; font-size:14px; line-height:16px; font-weight:normal; color:#3e7c87;}
ol.reasons li div.txt.active {display:block;}
ol.reasons li div.txt.hidden {display:none;}
h2.reasons {display:block; text-align:center; font-family:Verdana, san-serif; font-size:20px; line-height:20px; font-weight:normal; color:#05645e; padding:0 0 15px 0; margin:0 0 15px 0; border-bottom:1px solid #05645e;}

/* ПЕРСОНАЛ НА ГЛАВНОЙ */
div.slider_p {display: block; height:390px; padding: 0px 0 0px 0; width: 1000px;margin: 20px auto 0 auto; position: relative;}
div.slider_p a.arrowleft {display: block; width: 24px; height: 45px; position: absolute; left: 10px; top: 97px; z-index: 2; background: url(pics/arrows.png) left top no-repeat;}
div.slider_p a.arrowleft:hover {background-position: left -45px;}
div.slider_p a.arrowright {display: block; width: 24px; height: 45px; position: absolute; right: 10px; top: 97px; z-index: 2; background: url(pics/arrows.png) -24px top no-repeat;}
div.slider_p a.arrowright:hover {background-position: -24px -45px;}
div.slider_p div.items-list {position: relative; overflow: hidden;width: 1000px; height:390px;}
div.slider_p div.items-container {position:absolute; z-index: 1; width: 3000px;}
div.slider_p div.items-container div.oneitem {width:330px; height:390px; float:left; position:relative; margin: 0 20px 0 0; }

div.items-list div.oneitem {width:32%; float:left;}
div.items-list div.oneitem div.img {width:150px; height:150px; overflow:hidden; border-radius:100px; margin:15px auto; border:4px solid #74c3d0; -webkit-transition:0.3s; transition:0.3s;}
div.items-list div.oneitem div.img:hover {border:4px solid #46828d; -webkit-transition:0.3s; transition:0.3s;}
div.items-list div.oneitem div.img img {width:100%;}
div.items-list div.oneitem div.info {text-align:center;}
div.items-list div.oneitem div.info span.name {display:block; cursor:pointer; font-family:Verdana, san-serif; font-size:18px; line-height:20px; font-weight:normal; color:#46828d;}
div.items-list div.oneitem div.info span.position {display:block; padding:10px 25px; font-family:Verdana, san-serif; font-size:14px; line-height:20px; font-weight:normal; color:#4e4e4e; font-style:italic;}
div.items-list div.oneitem div.info div.text {display:none;}
div.items-list div.oneitem div.info div.text span.pr{display:block; text-align:center; font-family:Verdana, san-serif; font-size:12px; line-height:20px; font-weight:bold; color:#4e4e4e; font-style:italic;}
div.items-list div.oneitem div.info div.text span.cas{display:block; text-align:center; font-family:Verdana, san-serif; font-size:12px; line-height:20px; font-weight:normal; color:#4e4e4e;}
div.items-list div.oneitem div.info div.text.hidden{display:none;}
div.items-list div.oneitem div.info a.add {display:block; width:100px; padding:5px 10px; text-decoration:none; margin:10px auto; background:#81c3cf; border-radius:6px; border:1px solid #1d636d; font-size:14px; color:#fff; text-transform:uppercase; -webkit-transition:0.3s; transition:0.3s;}
div.items-list div.oneitem div.info a.add:hover {color:#1d636d; -webkit-transition:0.3s; transition:0.3s;}
/*ПЕРСОНАЛ НА ГЛАВНОЙ / */

div.personal {}
div.personal div.oneperson {width:32%; float:left;}
div.personal div.oneperson div.img {width:150px; height:150px; overflow:hidden; border-radius:100px; margin:15px auto; border:4px solid #74c3d0; -webkit-transition:0.3s; transition:0.3s;}
div.personal div.oneperson div.img:hover {border:4px solid #46828d; -webkit-transition:0.3s; transition:0.3s;}
div.personal div.oneperson div.img img {width:100%;}
div.personal div.oneperson div.info {text-align:center;}
div.personal div.oneperson div.info span.name {display:block;font-family:Verdana, san-serif; font-size:18px; line-height:20px; font-weight:normal; color:#46828d;}
div.personal div.oneperson div.info span.position {display:block; padding:10px 25px; font-family:Verdana, san-serif; font-size:14px; line-height:20px; font-weight:normal; color:#4e4e4e; font-style:italic;}
div.personal div.oneperson div.info a.add {display:block; width:100px; padding:5px 10px; text-decoration:none; margin:10px auto; background:#81c3cf; border-radius:6px; border:1px solid #1d636d; font-size:14px; color:#fff; text-transform:uppercase; -webkit-transition:0.3s; transition:0.3s;}
div.personal div.oneperson div.info a.add:hover {color:#1d636d; -webkit-transition:0.3s; transition:0.3s;}
div.personal div.oneperson div.info div.text {}
div.personal  div.oneperson div.info div.text span.pr{display:block; text-align:center; font-family:Verdana, san-serif; font-size:14px; line-height:20px; font-weight:bold; color:#4e4e4e; font-style:italic;}
div.personal div.oneperson div.info div.text span.cas{display:block; text-align:center; font-family:Verdana, san-serif; font-size:14px; min-height:20px; font-weight:normal; color:#4e4e4e;}
/* КОНЕЦ - Основная часть - Контент */

/* НАЧАЛО - Подвал */
#footer{color:#1D636D;padding-bottom:20px;}
a.ip-link:visited,a.ip-link:link,a.ip-link:active,a.ip-link:hover{color:gray;text-decoration:none;}
/* КОНЕЦ - Подвал */

/*##################################################################*/
/*#################### РАЗЛИЧНЫЕ КЛАССЫ СИСТЕМЫ ####################*/
/*##################################################################*/

/* НАЧАЛО - Классы для скроллера картинок на главной */
.photo{width:540px;margin-left:20px;}
.prev{margin-right:10px;margin-top:22px;cursor:pointer;}
.next{margin-left:10px;margin-top:22px;cursor:pointer;}
div.photo div.scrollable{position:relative;overflow:hidden;width:492px;height:90px;border-top:1px #77C5D1 solid;border-bottom:1px #77C5D1 solid;padding:3px 0px;}
div.scrollable div.items{width:20000em;position:absolute;}
div.photo div.scrollable div.items div{float:left;}
div.items div.active{border:1px inset #CCC;background-color:#FFF;}
/* ОКОНЧАНИЕ - Классы для скроллера картинок на главной */

/* НАЧАЛО - СТИЛЬ ДЛЯ крошек хлеба */
.kroshki-hleba{font-size:11px;font-weight:bold;line-height:1.2;margin-top:0px;margin-bottom:10px;text-align:left;}
a.kroshka:link{text-decoration:none;border:0px;}
a.kroshka:visited{text-decoration:none;border:0px;}
a.kroshka:active,a.kroshka:hover{text-decoration:none;border:0px;}
/* КОНЕЦ - СТИЛЬ ДЛЯ крошек хлеба */

/* НАЧАЛО - СТИЛЬ ДЛЯ панели со страницами и датами */
.link-panel{margin-bottom:20px;}
.link-panel p{margin:0px;padding:0px;margin-top:10px;}
.link-panel a:link{background-color:#CDE4F1;border:1px solid #000;color:#000;padding:0px 2px 0px 2px;text-decoration:none;}
.link-panel a:visited{background-color:#CDE4F1;border:1px solid #000;color:#000;padding:0px 2px 0px 2px;text-decoration:none;}
.link-panel a:active,.link-panel a:hover,.link-panel-active{background-color:#FFF;border:1px solid #000;color:#000;padding:0px 2px 0px 2px;text-decoration:none;}
/* КОНЕЦ - СТИЛЬ ДЛЯ панели со страницами и датами */

/* НАЧАЛО - СТИЛЬ ДЛЯ всплыващего сообщения (tooltip) */
.tooltip{display:none;background-color:#FFA;border:1px solid #CC9;padding:3px;font-size:13px;-moz-box-shadow:2px 2px 11px #666;-webkit-box-shadow:2px 2px 11px #666;}
/* КОНЕЦ - СТИЛЬ ДЛЯ всплыващего сообщения (tooltip) */

/* НАЧАЛО - СТИЛЬ ДЛЯ элементов типа FAQ */
.faq-ask{background:#BBE2E8;border:1px #226470 solid;padding:5px;margin-top:10px;cursor:pointer;}
.faq-answer{display:none;border:1px #226470 solid;border-top:0px;padding:5px;}
.faq-form-title{padding-bottom:3px;padding-top:10px;}
/* КОНЕЦ - СТИЛЬ ДЛЯ элементов типа FAQ */

/* НАЧАЛО - СТИЛЬ ДЛЯ окошка загрузки Ajax */
.waiter{display:none;text-align:center;font-weight:bold;position:absolute;left:50%;margin-left:-110px;top:200px;background:#FFF;border:2px #B0C4DE solid;padding:5px;z-index:100000;}
/* КОНЕЦ - СТИЛЬ ДЛЯ окошка загрузки Ajax */

/* НАЧАЛО - СТИЛЬ ДЛЯ определенных элементов HTML */
select.sel-normal{background:#BBE2E8;border:1px #226470 solid;}
textarea.textarea-full{background:#BBE2E8;height:100px;width:100%;border:1px #226470 solid;}
input.edit-full{background:#BBE2E8;width:100%;border:1px #226470 solid;}
input.edit-normal{background:#BBE2E8;border:1px #226470 solid;}
input.check-normal{background:#BBE2E8;border:1px #226470 solid;}
input.button-full{background:#BBE2E8;color:#226470;width:100%;border:1px #226470 solid;margin-top:5px;cursor:pointer;}
input.button-normal{background:#BBE2E8;color:#226470;border:1px #226470 solid;margin-top:5px;cursor:pointer;}
/* КОНЕЦ - СТИЛЬ ДЛЯ определенных элементов HTML */

/* НАЧАЛО - СТИЛЬ ДЛЯ элементов на странице */
.sys-table{border:0px;border-collapse:collapse;width:100%;}
.sys-table td{padding-bottom:30px;}
.sys-title{font-size:12px;font-weight:bold;}
.sys-info{font-size:10px;font-weight:normal;}
.sys-text{margin:0px;padding:0px;padding-top:5px;}
ul.sys-ul-main{margin:5px 0px 0px 0px;}
ul.sys-ul-sub{margin:0px 0px 0px 20px;}
ul.sys-ul-subsub{margin:0px;}
li {padding-top:3px;}
.sys-top-links{font-size:10px;font-weight:bold;text-align:right;}
.required{color:#D70000;}
.debug-info{padding-top:5px;font-size:10px;text-align:center;}
/* КОНЕЦ - СТИЛЬ ДЛЯ элементов на странице */

/* НАЧАЛО - СТИЛЬ ДЛЯ календаря */
#calroot{z-index:1;margin-top:-1px;width:198px;padding:2px;background-color:#FFF;font-size:11px;border:1px solid #CCC;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 0 15px #666;-webkit-box-shadow:0 0 15px #666;}
#calhead{padding:2px 0;height:22px;}
#caltitle{font-size:14px;color:#0150D1;float:left;text-align:center;width:155px;line-height:20px;text-shadow:0 1px 0 #DDD;}
#calnext, #calprev{display:block;width:20px;height:20px;background:transparent url('pics/calendar-prev.gif') no-repeat scroll center center;float:left;cursor:pointer;}
#calnext{background-image:url('pics/calendar-next.gif');float:right;}
#calprev.caldisabled,#calnext.caldisabled{visibility:hidden;}
#caltitle select{font-size:10px;}
#caldays{height:14px;border-bottom:1px solid #DDD;}
#caldays span{display:block;float:left;width:28px;text-align:center;}
#calweeks{background-color:#FFF;margin-top:4px;}
.calweek{clear:left;height:22px;}
.calweek a{display:block;float:left;width:27px;height:20px;text-decoration:none;font-size:11px;margin-left:1px;text-align:center;line-height:20px;color:#666;-moz-border-radius:3px;-webkit-border-radius:3px;}
.calweek a:hover,.calfocus{background-color:#DDD;}
a.calsun{color:red;}
a.caloff{color:#CCC;}
a.caloff:hover{background-color:rgb(245, 245, 250);}
a.caldisabled{background-color:#EFEFEF !important;color:#CCC !important;cursor:default;}
#calcurrent{background-color:#498CE2;color:#FFF;}
#caltoday{background-color:#333;color:#FFF;}
/* КОНЕЦ - СТИЛЬ ДЛЯ календаря */

div.scrollable2{position:relative;overflow:hidden;width:1050px;height:390px;padding:3px 0px;}

div.items div.oneitem1 {
    float: left;
    height: 310px;
    margin: 0 20px 0 0;
    position: relative;
    width: 330px;
}
div.items div.oneitem {
    border: 4px solid #74c3d0;
    border-radius: 100px;
    height: 150px;
    margin: 15px auto;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 150px;
}

div.items div.info span.name {
    color: #46828d;
    cursor: pointer;
    display: block;
    font-family: Verdana,san-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

div.items div.info span.position {
    color: #4e4e4e;
    display: block;
    font-family: Verdana,san-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;
    padding: 10px 25px;
}

div.items div.info div.text{display: none;}

div.items div.info a.add {
    background: #81c3cf none repeat scroll 0 0;
    border: 1px solid #1d636d;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 10px auto;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100px;
}

.info {text-align : center}
.aligncenter {display:block;margin:0 auto !important;}
.alignleft {float:left;padding:15px;}
.alignright {float:right; padding:15px;}

#gamburger{
    background-color: #1e8ea1;
    padding: 10px;
}

.gamburger-line{
    width: 30px;
    display: block;
    margin-bottom: 2px;
    border: 2px solid #fff;
    border-radius: 1px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h2{
        line-height:30px;
    }
    #all,
    #content,
    #menu, .carousel,
    .main_links,
    h2.reasons,
    div.scrollable,
    div.scrollable2,
    .block-scroller,
    .reasons-sites,
    .socsety,
    iframe#vkwidget1{
        width: 320px;
    }
    #header {
        background:none;
    }
    .sep, div.prefooter-left, img.png.fishka-left-main{
        display: none;
    }
    .logo {
    margin-top:0px;
    margin-left:0px;
    }
    #header div.address {
    right: 0;
    top: 275px;
    }
    #menu li{
        display:inline;
    }
    #menu li:not(:last-child)::after{
        z-index:-10;
    }
    .carousel.slide{
        height:108px;
    }
    .main_links .menu li{
        display: inline;
    }
    .main_links .menu li:not(:last-child)::after{
        z-index:-10;
    }
    h2.reasons{
        line-height: 30px;
    }
    ol.reasons li {
        width: 150px;
    }
    div.items div.oneitem2 {
        margin: 10px 20px;
        width: 280px;
    }
    .wcommunity_wrap:before{
        width:320px;
    }
    .wcommunity_footer button:first-child{
        width:320px;
    }
    ymaps[style |= "display: block; width: 1050px; height: 461px;"]{
        width: 320px !important;
    }
    div.prefooter-right{
        background:none;
        display: inline-block;
        height: 100px;
    }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 720px){
    h2{
        line-height:30px;
    }
    #all,
    #content,
    #menu, .carousel,
    .main_links,
    h2.reasons,
    div.scrollable,
    div.scrollable2,
    .block-scroller,
    .reasons-sites,
    .socsety,
    iframe#vkwidget1{
        width: 480px;
    }
    .doctors div.items div.oneitem1{
        width:480px;
    }
    .appointment{
        display:none;
    }
    #header {
        background:none;
    }
    .sep, div.prefooter-left, img.png.fishka-left-main{
        display: none;
    }
    .logo {
    margin-top:0px;
    margin-left:0px;
    }
    #header div.address {
    right: 0;
    top: 275px;
    }
    #menu li{
        display:inline;
    }
    #menu li:not(:last-child)::after{
        z-index:-10;
    }
    .carousel.slide{
        height:162px;
    }
    .main_links .menu li{
        display: inline;
    }
    .main_links .menu li:not(:last-child)::after{
        z-index:-10;
    }
    h2.reasons{
        line-height: 30px;
    }
    ol.reasons li {
        width: 150px;
    }
    div.items div.oneitem2 {
        margin: 10px 35px;
        width: 400px;
    }
    .wcommunity_wrap:before{
        width:320px;
    }
    .wcommunity_footer button:first-child{
        width:320px;
    }
    ymaps[style |= "display: block; width: 1050px; height: 461px;"]{
        width: 480px !important;
    }
    div.prefooter-right{
        background:none;
        display: inline-block;
        height: 100px;
    }
}
 
 
